
<h3>ログインユーザー以外のページ</h3>


  <%= image_tag @customer.get_image, size: '50x50' %>
  <%= @customer.name %>
  <!--ニックネームもできれば入れたい-->
  <%= @customer.introduction %>



<h3>レシピ一覧</h3>
<%= render 'recipe', customer_recipe: @customer.recipes %>