
<div class="my-3">
  <% tag_list.each do |list| %>
    <% if  list.recipes.count > 0 %> <!--タグが０の場合は表示しない-->
      <span class="text-secondary bg-warning ml-1">
        <%= link_to list.tag_name, tag_recipes_path(tag_id: list.id),class:"text-secondary" %>
        <%= "(#{list.recipes.count})" %>
      </span>
    <% end %>
  <% end %>
</div>
