<div class="container">
  <div class="row justify-content-sm-center">
    
  
     <label for="inputPassword" class="col-sm-3 col-form-label text-right ">Password</label>
    <div class="col-sm-7 mr-5  ">
      <input type="password" class="form-control" id="inputPassword">
    </div>

    
  </div>
</div>
,class:""

<div class="container">
  <div class="row">
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4 offset-md-4">.col-md-4 .offset-md-4</div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-3">.col-md-3 .offset-md-3</div>
    <div class="col-md-3 offset-md-3">.col-md-3 .offset-md-3</div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">.col-md-6 .offset-md-3</div>
  </div>
</div>