<!--キーワード検索によって絞り込んだ投稿一覧-->
<div class="row h4 pb-2 mb-4 text-secondary border-bottom border-warning" >
  <h4>"<strong><%= "#{@range = params[:word]}" %> </strong>"の検索結果</h4>
</div>

<% @customers.each do |customer| %>
  <%= image_tag customer.get_image, size: '50x50' %>
  <%= link_to customer.name, customer_path(customer.id) %>
<% end %>

<%= render 'public/customers/recipe', customer_recipe: @recipes %>
