
<!--タグによって絞り込んだ投稿一覧-->
<div class="row h4 pb-2 mb-4 text-secondary border-bottom border-warning" >
  <h6>"<strong><%= "#{@tag.tag_name}" %> </strong>"のレシピ一覧</h6>
</div>

<!--タグリスト-->
<%= render 'tag_list', tag_list: @tag_list %>

<%= render 'public/customers/recipe', customer_recipe: @recipes %>
