


<h3>会員一覧</h3>

<% @customers.each do |customer| %>
  <%= customer.id %>
  <%= link_to customer.name, admin_customer_path(customer.id)  %>
  <%= customer.email %>
  <% if customer.is_deleted == false %>
    有効
  <% else %>
    退会
  <% end %>


<% end %>
